.card-header{
    font-weight: bold;
}

.card-color-red {
    color: red;
    font-weight: bold;
}

.input1{
    margin-bottom:175px;
}

.input2{
    margin-top:0px;
    margin-bottom:50px;
}

.input3{
    margin-top:50px;
    margin-bottom:5px;
}

.form-control {
    width: 174px;
    border-color: black;
}
